body {
  color: seashell;          /* except in the logo, links & over photos */
  font-family: Helvetica;   /* except in the logo & nav */
  font-size: 22;            /* in all body text */
  background-color: black;
  margin: 0;
  text-align: center;
}

a {
  color: seashell;    /* all links are seashell */
  text-decoration: underline;
}

/* START header -----------*/

header {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height:69px;
  width: 100%;

  background-color: black;
  position: fixed;
  z-index: 20;            /* site scrolls under */

  align-items: center;

  margin-top: -1px;      /* hides text when scrolling */
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid seashell;
}

nav {
  text-align: right;
}

nav span{
  display: inline-block;
  padding 20px 10px;
}

#logo{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  color: MediumAquamarine;
}

#logo img{
  height: 50px;
}

nav a:link,
nav a:visited{
  color: seashell;
}

nav a:hover, nav a:active{
  color: #c2d8e6;
}

/* END header -----------*/




/* START content -----------*/
.container {             /* content container */
  width: 1200px;
  padding-top: 69px;
  margin: auto;
  z-index: 10;
  height: 100%;
}

#mission {              /* mission section */
  display: block;
  width: 120px;
  height: 700px;
  background-image: image("../images/img-mission-background.jpg");
  padding-top: 70px;
}



/* END content -----------*/




/* START story images -----------*/

#phish{
  background-image: url("../images/img-story-main.png");
}

#orca{

}

#spinback{
  background-image: url("../images/img-story-2.png");
}

#fbi {

}

#memory{
  background-image: url("../images/img-story-3.png");
}

#cats{
  background-image: url("../images/img-story-1.png");
}

#cookie{
  background-image: url("../images/img-news-bite.png");
  width: 240px;
  height: 240px;
}
/* END story images -----------*/


/* START footer -----------*/
footer {
  display: flex;
  display: -webkit-flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height:200px;
  font-weight: bold;
}

/* END footer -----------*/
