body {
  color: seashell;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  margin: 0;
  text-align: center;
  opacity: 0.9;
}

a {
  color: seashell;
  text-decoration: none;
}

a:link, a:visited{
  color: seashell;
}

a:hover, a:active{
  color: #c2d8e6;
}

a:hover img {
  opacity: 0.5;
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 10px;
}

/* START header -----------*/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height:69px;
  width: 100%;

  background-color: black;
  position: fixed;
  z-index: 20;            /* site scrolls under */

  align-items: center;

  margin-top: -1px;      /* hides text when scrolling */
  border-bottom: 1px solid seashell;
}

#logo img{
  height: 50px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  margin-left: 10px;
}

nav {
  text-align: right;
  margin-right: 10px;
}

nav span{
  display: inline-block;
  padding 20px 10px;
}

nav a{
  padding-right: 20px;
  text-decoration: underline;
}

/* END header -----------*/




/* START main content -----------*/

.container {             /* content container */
  width: 1200px;
  height: 100%;
  margin: auto;
  z-index: 10;
  align-items: center;
  display: flex;
  flex-flow: column;
}

.section{             /* shared by each section */
  padding: 69px 0px;
}

.content{             /* shared by the content of each section */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
}

.blackbkg {             /* shared by boxes with a black bkgrd  */
  background-color: black;
  vertical-align: middle;
}

/* mission section */

#mission {
  width: 1200px;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  padding-top: 69px;
}

#mission .content {    /* specific to mission's content */
  width: 100%;
  height: 110px;
  display: block;
}

/* featured section */

#featured {
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin: auto;
}

#featured .content{   /* specific to featured's content */
  /*width: 1000px;*/
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.tea {
  padding: 15px;
}

.tea img {
  height: 200px;
  width: 300px;
  margin: 0px;
}

/* location section */

#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin: auto;
}

#locations .content{

}

.place {            /* specific to the location boxes */
  width: 270px;
  height: 255px;
  margin: 5px 20px;
  padding: 10px;
  display: flex;
  flex-flow: column;
}


/* END main content -----------*/


/* START footer -----------*/
footer {
  display: flex;
  display: -webkit-flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0 20px;
  font-weight: bold;
  background-color: violet;
}

#contactinfo {
  height: 180px;
  padding-top: 20px;
}

#copyright {
  text-align: left;
}

/* END footer -----------*/
