/*just a test*/
body {
  color: black;
  margin-top: 0;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  align-items: center;
  width: 100%;
  height:80px;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 20;
  margin-top: 0;
}

#container {
width: 100%;
display: flex;
margin-top: 0;
z-index: 10;
}

#logo{
  display: flex;
  padding-left: 30px;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

#logo img{
  margin-right: 12px;
}

#logo h4 {
  color: MediumAquamarine;
}

nav {
  display: block;
  text-align: left;
}

span {
  color: black;
  display: inline-block;
  padding: 20px 10px;
}

span a{
  color: black;
}
