html{
  font-size: 18px;
}

body {
  font-family: Helvetica;
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;

}

.sectionholder {
  width: 100%;
  height: auto;
  display: block;
}

.container {             /* content container */
  display: flex;
  width: 970px;
  height: 100%;
  margin: 0 auto;
  flex-direction: row;
}

#logobar {
  background-color: black;
}

#logo{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: .66rem;
  padding-bottom: .66rem;
}

#logo img{
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: .5rem;
}

#mainheader{
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  background-size: cover;
  background-position: center;
  flex-direction: row;
  justify-content: flex-start;
}

#maintext{
  background-color: black;
  color: white;
  height: auto;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  text-align: left;
  top: 9rem;
  display: block;
}

#maintext span {
  font-weight: bold;
}

#maintext h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: .25rem;
}

#navbar {
  background-color: firebrick;
}

nav {
  padding-top: .75rem;
  padding-bottom: .75rem;
  justify-content: space-around;
}

nav a:link, nav a:visited {
  color: white;
}

nav a:hover, nav a:active {
  color: antiquewhite;
}

nav a {
  text-decoration: none;
  display: inline;
}

.featureditem{
  width: 9rem;
  height: auto;
  margin: 3rem;
  align-items: center;
  text-align: center;
}

.featureditem img{
  height: 9rem;
  width: 9rem;
  padding: 2rem;
  background-color: white;
  border: 4px solid black;
}

.featureditem h4{
  font-size: 1rem;
  color: white;
  background-color: black;
  margin-top: 0;
  padding: 0.25rem inherit;
  text-align: center;
  height: 1.5rem;
  width: 13.5rem;
}

footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 4rem auto 0 auto;
  background-color: black;
  color: white;
}
