body{
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: black;
}

.whitetype, a{
  color: white;
  text-decoration: none;
}

.flatiron{
  background-image: url("../images/the-flatiron-building.png")
}

h1{
  font-size: 70px;
  font-weight: bold;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

header {
  font-size: 18px;
  height: 250px;
  width: 100%;
  padding-top: 20px;
  display: block;
}

footer{
  background-color: dimgrey;
  font-size: 11px;
  text-align: left;
  padding-top: 18px;
  padding-left: 14px;
  height: 30px;
}
