/*just a test*/
body {
  color: black;
  margin: 0;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  align-items: center;
  width: 100%;
  height:81px;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 20;
  margin-top: -1px;
}

.container {
  width: 100%;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 10;
}

div{
  border: 1px solid grey;
}

#logo{
  display: flex;
  padding-left: 30px;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

#logo img{
  margin-right: 12px;
}

#logo h4 {
  color: MediumAquamarine;
}

nav {
  display: inline-block;
  text-align: right;
  float: right;
  padding-right: 30px;
  width: 100%;
}

.sections {
  color: black;
  display: inline-block;
  padding: 20px 10px;
}

.column.large {
  width: 630px;
  display: flex;
}

.column.medium {
  width: 300px;
  display: flex;
}

.column.small {
  width: 240px;
  display: flex;
}
