/*just a test*/
body {
  color: black;
  margin: 0;
}

div{
  border: 1px solid grey;
}

/* START masthead -----------*/

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  align-items: center;
  width: 100%;
  height:81px;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 20;
  margin-top: -1px;
}

nav {
  display: inline-block;
  text-align: right;
  float: right;
  padding-right: 30px;
  width: 100%;
}

.sections {
  display: inline-block;
  padding: 20px 10px;
}

#logo{
  display: flex;
  padding-left: 30px;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

#logo img{
  margin-right: 12px;
}

#logo h4 {
  color: MediumAquamarine;
}

/* END masthead -----------*/

.buffer {
  height: 100px;
  width: 100%;
  z-index: 10;
  background-color: white;
}

/* START content -----------*/
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 10;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.story{
  display: block;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.photo span{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

img{
  height:auto;
}

/* END content -----------*/

/* START article specifics -----------*/
#phish .photo{
  /*background-color: pink;*/
  background-image: url(./images/img-story-main.png)
}

img {
  src: "../images/img-story-main.png";
}

/* END article specifics -----------*/
